@page "/Admin/CheckPremise"


<div class=" container my-4">
    <div class=" row">
        <div class=" row col-3">
            <div class=" col-5 font-color font-weight-bold">เลขที่สัญญา</div>
            <div class=" col-7 ">12345</div>
        </div>
        <div class=" row col-3">
            <div class=" col-5 font-color font-weight-bold">ประเภทการกู้</div>
            <div class=" col-7">กู้เพื่อ........</div>
        </div>
        <div class=" row col-6">
            <div class="col-6"></div>
            <div class=" col-3 "><button type="button" class=" p-2 text-light shadow rounded" style="border:none ;height:40px;background-color:green;width:100px">อนุมัติ</button></div>
            <div class=" col-3 "><button type="button" class=" p-2 text-light shadow rounded" style="border: none; height: 40px; background-color: red; width: 100px">ไม่อนุมัติ</button></div>
        </div>

    </div>





</div>
<div class="footer">

    <div class="row py-3 col-12 ms-1 ">
        <div class="col-3 text-left">
            <button type="button" class="btn secondary-bg shadow rounded text-center" @onclick="back" style="border-radius: 5px;width:180px">กลับ</button>

        </div>
        <div class="col-4 text-center">

        </div>
        <div class="col-3" style="text-align:end">

        </div>
    </div>

</div>


@code {
    public void back()
    {

        NavigationManager.NavigateTo("/Admin/ManageLoanAgreement");
    }

}
