
@page "/Admin/CheckUserdata"

<div class="container mt-3">

    <div class=" mt-4 row">
        <div class=" col-8"></div>
        <form class="d-flex col-4">
            <input class="form-control me-2 shadow rounded" type="search" placeholder="Search" aria-label="Search">
            
                <button type="button"
                        class="btn btn-outline-secondary primary-bg-drop shadow rounded">
                    <i class="fas fa-search"></i>
                </button>
           
        </form>
    </div>

    <table class="table table-hover border-table mt-4" style="border-top: 1px solid">
        <thead class="text-light primary-bg">
            <tr>
                <th>รหัสบุคลากร</th>
                <th>ชื่อ</th>
                <th>นามสกุล</th>
                <th>ยอดเงินกู้ทั้งหมด</th>
                <th>สัญญาที่ค้ำ</th>
                <th>สถานะ</th>
                
            </tr>
        </thead>

        <tbody>
            <tr class="py-2" style="background-color:whitesmoke ;" @onclick="SeeDetail">
                <td class="text-center ">
                    12345
                </td>
                <td class="text-center">ดวงธิดา</td>
                <td class="text-center">ชูมาลี</td>
                <td class="text-center">10000</td>
                <td class="text-center">0/2</td>
                <td class="text-center">
                    ปกติ



                </td>
               
            </tr>
        </tbody>

    </table>





</div>



@code {
    public Boolean countTable = false;
    public string grayColor = "#d3d5d4";
    public string whiteColor = "#ffffff";

    public void SeeDetail()
    {
        NavigationManager.NavigateTo("/Admin/UserdataDetail");
    }
}
