@page "/Admin/CreateTypeLoan"

<div class="container mt-3 ">
    <div class="row justify-content-center">
        <div class="col-8 card bg-light py-4 px-3 my-5">
            <div class="my-3 mx-3 row">
                <div class=" col-3">
                    <label class="form-label font-weight-bold text-primary">ชื่อประเภทการกู้</label>

                </div>
                <div class=" col-7">
                    <input class="form-control" id="exampleFormControlInput1">
                </div>
            </div>


            <div class="my-3 mx-3 row">
                <div class=" col-3">
                    <label class="form-label font-weight-bold text-primary">ดอกเบี้ย</label>

                </div>
                <div class=" col-7">
                    <input class="form-control" id="exampleFormControlInput1">
                </div>
            </div>


            <div class="my-3 mx-3 row">
                <div class=" col-3">
                    <label class="form-label font-weight-bold text-primary">จำนวนงวดสูงสุด</label>
                </div>
                <div class=" col-7">
                    <input class="form-control" id="exampleFormControlInput1">
                </div>

            </div>


            <div class="my-3 mx-3 row">
                <div class=" col-3">
                    <label for="guarantor" class="form-label font-weight-bold text-primary">วงเงินสูงสุด</label>
                </div>
                <div class=" col-7">
                    <input class="form-control" id="exampleFormControlInput1">
                </div>

            </div>


            <div class="my-3 mx-3 row">
                <div class=" col-3">
                    <label for="guarantor" class="form-label font-weight-bold text-primary">เริ่มใช้เงื่อนไขเมื่อ</label>
                </div>
                <div class=" col-7">
                    <input class="form-control" id="exampleFormControlInput1">
                </div>
            </div>
            <div class="my-3 mx-3 row">
                <div class=" col-3">
                    <label for="guarantor" class="form-label font-weight-bold text-primary">สำเนาเอกสารเงื่อนไข</label>

                </div>
                <div class=" col-6">
                    <input class="form-control" id="exampleFormControlInput1">
                </div>
                <div class=" col-3">
                    <button class="primary-bg  text-light" style="border-radius: 8px; height: 40px">อัปโหลด</button>

                </div>
            </div>

            <div class="my-4 mx-3 row">
                <button class="primary-bg text-light" style="height:40px;border-radius:8px">สร้าง</button>

            </div>


        </div>

    </div>
</div>

@code {

}
