@page "/Admin/CreateTypeLoan"

<div class="container mt-3 ">
    <div class="row justify-content-center">
        <div class="col-8 card bg-light shadow rounded py-4 px-3 my-5">
            <EditForm Model="Loan" >
                <div class="my-3 mx-3 row">
                    <div class=" col-3">

                        <label class="form-label font-weight-bold font-color">ชื่อประเภทใหม่</label>
                    </div>
                    <div class=" col-9 row">
                        <div class="col-6">
                            <InputText @bind-Value="Loan.LoanParentName" class="form-control" id="exampleFormControlInput1" placeholder="ระบุชื่อประเภทการกู้ใหม่" />
                            
                        </div>
                        <div class="col-4">
                            <button class="button-color text-light p-2" @onclick="()=>ToggleButton(true)">ประเภทที่มีอยู่</button>
                        </div>

                    </div>

                    <div>
                        @if (changType == true)
                        {

                            <div>
                                @for (var i = 0; i < ListType.Count; i++)
                                {
                                    var item = ListType[i];
                                    <div>@item.LoanTypeName <button class="button-color text-light p-2" @onclick="()=>selectType(false,item)">เลือก</button></div>

                                }
                            </div>
                        }
                    </div>


                </div>


                <div class="my-3 mx-3 row">
                    <div class=" col-3">
                        <label class="form-label font-weight-bold font-color">ดอกเบี้ย</label>

                    </div>
                    <div class=" col-7">
                        <input class="form-control" id="exampleFormControlInput1">
                    </div>
                </div>


                <div class="my-3 mx-3 row">
                    <div class=" col-3">
                        <label class="form-label font-weight-bold font-color">จำนวนงวดสูงสุด</label>
                    </div>
                    <div class=" col-7">
                        <input class="form-control" id="exampleFormControlInput1">
                    </div>

                </div>


                <div class="my-3 mx-3 row">
                    <div class=" col-3">
                        <label for="guarantor" class="form-label font-weight-bold font-color">วงเงินสูงสุด</label>
                    </div>
                    <div class=" col-7">
                        <input class="form-control" id="exampleFormControlInput1">
                    </div>

                </div>


                <div class="my-3 mx-3 row">
                    <div class=" col-3">
                        <label for="guarantor" class="form-label font-weight-bold font-color">เริ่มใช้เงื่อนไขเมื่อ</label>
                    </div>
                    <div class=" col-7">
                        <input class="form-control" id="exampleFormControlInput1">
                    </div>
                </div>
                <div class="my-3 mx-3 row">
                    <div class=" col-3">
                        <label for="guarantor" class="form-label font-weight-bold font-color">สำเนาเอกสารเงื่อนไข</label>

                    </div>
                    <div class=" col-6">
                        <input class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class=" col-3">
                        <button class=" btn button-color rounded shadow  text-light" style="border-radius: 10px; height: 40px">อัปโหลด</button>

                    </div>
                </div>
           </EditForm>  

                <div class="my-4 mx-3 row">
                    <div class="col-6 text-end">
                        <button type="button"
                                class="btn secondary-bg shadow rounded"
                                style="width:200px"
                                data-bs-toggle="modal"
                                data-bs-target="#backPage">
                            กลับ
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button"
                                class="btn button-color shadow rounded"
                                style="color: white; width: 200px" @onclick="Testdata">
                            สร้างประเภทใหม่
                           @* data-bs-toggle="modal"
                            data-bs-target="#nextPage"*@
                        </button>

                    </div>


                </div>


        </div>

    </div>
</div>

@* model Back page *@
<div class="modal fade" id="backPage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                เมื่อกดกลับ ระบบจะไม่ทำการบันทึกข้อมูลหน้านี้ คุณต้องการกลับหรือไหม
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="BackPage">กลับ</button>
            </div>
        </div>
    </div>
</div>

@* model Back page *@
<div class="modal fade" id="nextPage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                คุณยืนยันการสร้างประเภทการกู้ใหม่ ใช่หรือไม่
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="BackPage">ยืนยัน</button>
            </div>
        </div>
    </div>
</div>

@code {

    List<LoanType> ListType;
    LoanType Loan;
    public Boolean changType { get; set; } = false;



    protected override void OnInitialized()
    {
        ListType = new List<LoanType>();
        Loan = new LoanType();
        ListType = _context.LoanTypes.ToList<LoanType>();
    }



    public void BackPage()
    {
        NavigationManager.NavigateTo("./Admin/ManageTypeLoan");
    }




    public void ToggleButton(Boolean toggle)

    {

        changType = toggle;
    }

    public void selectType(Boolean toggle,LoanType loantype)

    {
        Loan.LoanParentName = loantype.LoanParentName;

        ToggleButton(toggle);
    }

    public void Testdata()
    {
        Console.WriteLine(Loan);
    }
}
