@page "/Admin/CreateTypeLoan"

<div class="container mt-3 ">
    <div class="row justify-content-center">
        <div class="col-8 card bg-light shadow rounded py-4 px-3 my-5">
            <div class="my-3 mx-3 row">
                <div class=" col-3">
                    <label class="form-label font-weight-bold font-color">ชื่อประเภทการกู้</label>

                </div>
                <div class=" col-7">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">กู้เพื่อรักษาพยาบาลตนเอง</option>
                        <option value="2">กู้เพื่อการศึกษาตนเอง</option>
                        <option value="3">กู้ค่าเล่าเรียนบุตรในส่วนที่เกินสิทธิ</option>
                        <option value="4">กู้เพื่อซื้อวัสดุอุปกรณ์การศึกษาของบุตร</option>
                        <option value="5">กู้เพื่อซื้อคอมพิวเตอร์และอุปกรณ์ IT</option>
                        <option value="6">กู้เพื่อส่งเสริมสุขภาวะบุคลากร</option>
                        <option value="7">กู้เพื่อประกอบกิจกรรมด้านวัฒนธรรม</option>
                        <option value="8">กู้เพื่อซื้อประกัน</option>
                        <option value="9">กู้เพื่อซ่อมแซมยานพาหนะ</option>
                        <option value="10">กู้เพื่อซ่อมแซมที่อยู่อาศัย</option>
                        <option value="11">กู้เพื่อตัดชุดขาว</option>
                        <option value="12">กู้เพื่อตัดชุดครุยบุคลากร</option>
                    </select>
                </div>
            </div>


            <div class="my-3 mx-3 row">
                <div class=" col-3">
                    <label class="form-label font-weight-bold font-color">ดอกเบี้ย</label>

                </div>
                <div class=" col-7">
                    <input class="form-control" id="exampleFormControlInput1">
                </div>
            </div>


            <div class="my-3 mx-3 row">
                <div class=" col-3">
                    <label class="form-label font-weight-bold font-color">จำนวนงวดสูงสุด</label>
                </div>
                <div class=" col-7">
                    <input class="form-control" id="exampleFormControlInput1">
                </div>

            </div>


            <div class="my-3 mx-3 row">
                <div class=" col-3">
                    <label for="guarantor" class="form-label font-weight-bold font-color">วงเงินสูงสุด</label>
                </div>
                <div class=" col-7">
                    <input class="form-control" id="exampleFormControlInput1">
                </div>

            </div>


            <div class="my-3 mx-3 row">
                <div class=" col-3">
                    <label for="guarantor" class="form-label font-weight-bold font-color">เริ่มใช้เงื่อนไขเมื่อ</label>
                </div>
                <div class=" col-7">
                    <input class="form-control" id="exampleFormControlInput1">
                </div>
            </div>
            <div class="my-3 mx-3 row">
                <div class=" col-3">
                    <label for="guarantor" class="form-label font-weight-bold font-color">สำเนาเอกสารเงื่อนไข</label>

                </div>
                <div class=" col-6">
                    <input class="form-control" id="exampleFormControlInput1">
                </div>
                <div class=" col-3">
                    <button class=" btn button-color rounded shadow  text-light" style="border-radius: 10px; height: 40px">อัปโหลด</button>

                </div>
            </div>

            <div class="my-4 mx-3 row">
                <div class="col-6 text-end">
                    <button type="button"
                            class="btn secondary-bg shadow rounded"
                            style="width:200px"
                            data-bs-toggle="modal"
                            data-bs-target="#backPage">
                        กลับ
                    </button>
                </div>
                <div class="col-6">
                    <button type="button"
                            class="btn button-color shadow rounded"
                            style="color: white; width: 200px"
                            data-bs-toggle="modal"
                            data-bs-target="#nextPage">
                        ยื่นคำขอ
                    </button>
                </div>


            </div>


        </div>

    </div>
</div>

@* model Back page *@
<div class="modal fade" id="backPage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                เมื่อกดกลับ ระบบจะไม่ทำการบันทึกข้อมูลหน้านี้ คุณต้องการกลับหรือไหม
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="BackPage">กลับ</button>
            </div>
        </div>
    </div>
</div>

@* model Back page *@
<div class="modal fade" id="nextPage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                คุณยืนยันการสร้างประเภทการกู้ใหม่ ใช่หรือไม่
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="NextPage">ยืนยัน</button>
            </div>
        </div>
    </div>
</div>

@code {

    public void BackPage()
    {
        NavigationManager.NavigateTo("./Admin/ManageTypeLoan");
    }

    public void NextPage()
    {
        NavigationManager.NavigateTo("/applyloansuccess");
    }

}
