@page "/Admin/NewAgreement"

<div class="container my-4">
    <table class="table table-hover border-table mt-4" style="border-top: 1px solid">
        <thead class="text-light primary-bg">
            <tr>
                <th>สถานะ</th>
                <th>วันที่/เวลา</th>
                <th>ยอดเงินกู้</th>
                <th>ประเภท</th>
                <th>ชื่อ</th>
                <th>นามสกุล</th>

            </tr>
        </thead>

        <tbody>
            <tr class="py-2" style="background-color:whitesmoke ;" @onclick="SeeDetail">
                <td class="text-center ">
                    รอทำสัญญา
                </td>
                <td class="text-center">12 ก.ค.64/13.30</td>
                <td class="text-center">10000</td>
                <td class="text-center">ตัดชุดครุย</td>
                <td class="text-center">ดวงธิดา</td>
                <td class="text-center">
                    ชูมาลี


                </td>

            </tr>
            <tr class="py-2" style="background-color:whitesmoke ;" @onclick="SeeDetail">
                <td class="text-center ">
                    รอทำสัญญา
                </td>
                <td class="text-center">12 ก.ค.64/13.30</td>
                <td class="text-center">10000</td>
                <td class="text-center">เพื่อการศึกษาตนเอง</td>
                <td class="text-center">ดวงธิดา </td>
                <td class="text-center">
                    ชูมาลี



                </td>

            </tr>

        </tbody>

    </table>
</div>
@*footer*@
<div class="footer">

    <div class="row py-3 col-12 ms-1 ">
        <div class="col-3 text-left">
            <button type="button" class="btn secondary-bg shadow rounded text-center" @onclick="back" style="border-radius: 5px;width:180px">กลับ</button>

        </div>
        <div class="col-4 text-center">

        </div>
        <div class="col-3" style="text-align:end">

        </div>
    </div>

</div>

@code {
    public void back()
    {
        @*NavigationManager.NavigateTo("/uploaddoc");*@
        NavigationManager.NavigateTo("/Admin/ManageLoanAgreement");
    }
    public void SeeDetail()
    {
        @*NavigationManager.NavigateTo("/uploaddoc");*@
        NavigationManager.NavigateTo("/Admin/AgreementData");
    }

}
