

@page "/User/CompoundLoan"
@inject NavigationManager NavigationManager

<div class="container mt-4 mb-5 pb-5">
    <div class="row">
        <div class="col-1 col-md-1"></div>
        <div class="col-lg-9 col-10 card bg-light p-3 mt-4 mb-4 mx-2 shadow rounded">
            <div class="mt-5 ms-3 ">
                คำขอยื่นกู้ทบยอด

            </div>
            <div class="mt-4 ms-3">
                เลขที่สัญญา

            </div>
            <div class="card primary-bg-drop pt-3 pb-4 mt-4 shadow rounded">
                <div class="font-color">
                    <div class="row pt-4 ms-2">
                        <div class="col-md-5 col-5 " style="font-size: larger">
                            วงเงินสูงสุด
                        </div>
                        <div class="col-md-5 col-5 " style="text-align: end;font-size:larger">
                            50000 บาท
                        </div>
                    </div>
                    <div class="row pt-4 ms-2">
                        <div class="col-md-5 col-5  " style="font-size: larger">
                            อัตราดอกเบี้ย
                        </div>
                        <div class="col-md-5 col-5 " style="text-align: end; font-size: larger">
                            0.25 %
                        </div>
                    </div>
                    <div class="row pt-4 ms-2">
                        <div class="col-md-5 col-5 " style="font-size: larger">
                            ผ่อนชำระสูงสุด
                        </div>
                        <div class="col-md-5 col-5" style="text-align: end; font-size: larger">
                            12 เดือน
                        </div>
                    </div>
                    <div class="row pt-4 ms-2">
                        <div class="col-md-5 col-5 " style="font-size: larger">
                            ผ่อนชำระเดือนละ
                        </div>
                        <div class="col-md-5 col-5 " style="text-align: end; font-size: larger">
                            1000 บาท
                        </div>
                    </div>
                    <div class="row pt-4 ms-2">
                        <div class="col-md-5 col-5 " style="font-size: larger">
                            วันที่ทำรายการ
                        </div>
                        <div class="col-md-5 col-5 " style="text-align: end; font-size: larger">
                            12 กรกฎาคม 2564
                        </div>
                    </div>

                </div>

            </div>
            
            @*<div class="mt-4 " style="padding-left:40px">
            <label for="guarantor" class="form-label font-weight-bold">ชื่อผู้ค้ำใหม่</label>
            <div class="row">
                <div class="col-8 ">
                    <input class="form-control" id="exampleFormControlInput1" placeholder="ระบุชื่อผู้ค้ำคนใหม่">
                </div>
                <button type="button"
                        class="btn btn-outline-secondary primary-bg-drop col-1">
                    <i class="fas fa-search"></i>
                </button>
            </div>

        </div>
            *@
            <div class="mt-5 mb-5 row">
                <div class="col-md-6  col-12 backpage ">
                    <button type="button"
                            class="btn secondary-bg shadow rounded back"
                            data-bs-toggle="modal"
                            data-bs-target="#backPage">
                        กลับ
                    </button>
                </div>
                <div class="col-md-6 col-12 nextpage">
                    <button type="button"
                            class="btn button-color shadow rounded nextpage"
                            style="color: white;"
                            data-bs-toggle="modal"
                            data-bs-target="#nextPage">
                        ยื่นคำขอ
                    </button>
                </div>
            </div>

        </div>
        <div class="col-2">

        </div>

    </div>
</div>

@* model Back page *@
<div class="modal fade" id="backPage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                เมื่อกดกลับ ระบบจะไม่ทำการบันทึกข้อมูลหน้านี้ คุณต้องการกลับหรือไหม
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="BackPage">กลับ</button>
            </div>
        </div>
    </div>
</div>

@* model Back page *@
<div class="modal fade" id="nextPage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                คุณยืนยันการส่งคำขอกู้ทบยอดใช่หรือไหม
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="NextPage">ยืนยัน</button>
            </div>
        </div>
    </div>
</div>

@code {

    public void BackPage()
    {
        NavigationManager.NavigateTo("/RequestLoan");
    }

    public void NextPage()
    {
        NavigationManager.NavigateTo("/applyloansuccess");
    }
}