@page "/applyloansuccess"
@inject NavigationManager NavigationManager
    <div class="container my-4">
        <div class="row ">
            <div class="col-3"></div>
            <div class="card bg-white text-center col-6 py-3 px-3 mt-5 shadow rounded" style="height:500px">
                <div class="">
                    @*<img src="https://image.makewebeasy.net/makeweb/0/6Nt5hg8FW/GraphicPictures/Logo_PSU_EH_01.png" class="img-thumbnail radius mt-5 ">*@
                    <div class="mt-5">
                        <i class="fas fa-check-circle fa-9x" style="color:green"></i>
                    </div>
                    <div class="mt-5 ">
                        <div class="h3" style="color:green;font-weight:bolder">ยื่นคำขอสำเร็จ</div>
                        <div class="mt-4">โปรดรอผลการตรวจสอบจากเจ้าหน้าที่</div>
                    </div>
                    <div class="mt-5">
                        <button type="button" @onclick="backHome" class="btn  text-light shadow rounded" style="background-color:green">กลับหน้าหลัก</button>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    @code { public void backHome()
        {
            NavigationManager.NavigateTo("/");
        } }
