
@page "/ChangeGuarantor"
@inject NavigationManager NavigationManager


<div class="row">
    <div class="col-2">

    </div>
    <div class="col-8 card bg-light p-3 mt-4 mb-4">
        <div class="mt-5" style="padding-left:40px">
            เปลี่ยนผู้ค้ำ กรณียังไม่ได้ทำสัญญา

        </div>
        <div class="mt-4" style="padding-left:40px">
            เลขที่สัญญา

        </div>
        <div class="card primary-bg-drop pt-3 pb-4 mt-4 ">
            <div style="color:blue">
                <div class="row pt-4">
                    <div class="col-6 " style="padding-left: 100px">
                        <a style="font-size:larger">วงเงินสูงสุด  </a>
                    </div>
                    <div class="col-6" style="text-align:end;padding-right:90px">
                        <a style="font-size:larger">50000 บาท </a>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-6 " style="padding-left: 100px">
                        <a style="font-size:larger">อัตราดอกเบี้ย  </a>
                    </div>
                    <div class="col-6" style="text-align:end;padding-right:90px">
                        <a style="font-size:larger">0.25 % </a>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-6 " style="padding-left: 100px">
                        <a style="font-size:larger">ผ่อนชำระสูงสุด  </a>
                    </div>
                    <div class="col-6" style="text-align:end;padding-right:90px">
                        <a style="font-size:larger">12 เดือน </a>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-6 " style="padding-left: 100px">
                        <a style="font-size:larger">ผ่อนชำระเดือนละ </a>
                    </div>
                    <div class="col-6" style="text-align:end;padding-right:90px">
                        <a style="font-size:larger">1000 บาท </a>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-6 " style="padding-left: 100px">
                        <a style="font-size:larger">วันที่ทำรายการ  </a>
                    </div>
                    <div class="col-6" style="text-align:end;padding-right:90px">
                        <a style="font-size:larger">12 กรกฎาคม 2564 </a>
                    </div>
                </div>

            </div>

        </div>
        <div class="mt-4 "  style="padding-left:40px">
            <label for="guarantor" class="form-label font-weight-bold">ชื่อผู้ค้ำใหม่</label>
            <div class="row">
                <div class="col-8 ">
                    <input class="form-control" id="exampleFormControlInput1" placeholder="ระบุชื่อผู้ค้ำคนใหม่">
                </div>
                <button type="button"
                        class="btn btn-outline-secondary primary-bg-drop col-1">
                    <i class="fas fa-search"></i>
                </button>
            </div>

        </div>
     
            <div class="mt-5 text-center">
                <button class="primary-bg" type="button" style="color:white;border-radius:3px;width:200px">ยื่นคำขอ</button>

            </div>

        </div>
        <div class="col-2">

        </div>

    </div>

    @code {

        
    }
