@page  "/GuarantDetail"
@inject NavigationManager NavigationManager

<div class="container my-3">
    <div class="row justify-content-between py-3 bg-light pb-4 shadow rounded">
        <div class="col-4 mt-3 ms-3">
            <div style="font-size: x-large; font-weight: bold; color: #2788DE"> ชื่อผู้กู้ </div>
            <div class="row my-3" style="font-weight: bold;color: #2788DE">
                <div class="col-12 col-lg-6">ยอดเงินกู้ทั้งหมด</div>
                <div class="col-12 col-lg-6">ยอดเงินกู้คงเหลือ</div>
            </div>
            <div class="row" style="font-weight: bold; color: #2788DE">
                <div class="col-12 col-lg-4">สถานะ</div>
                <div class="col-12 col-lg-4">เลขที่สัญญา</div>
                <div class="col-12 col-lg-4">ประเภทการกู้</div>
            </div>
        </div>
        <div class="col-4">

            <div class="pt-4 text-end mt-5">
                <button class="button-color shadow rounded" @onclick="pdfAgreement" style="border-radius: 3px; color:white; width:200px; height:40px;border:none">
                    <i class="far fa-file-pdf fa-lg mx-3"></i>
                    เอกสารสัญญา
                </button>
            </div>
        </div>
    </div>
    <div class="row justify-content-between  ">
        <table class="table table-hover  shadow rounded">
            <thead class="primary-bg text-center text-light">
                <tr>
                    <th>วันที่</th>
                    <th>งวดที่</th>
                    <th>เงินต้น</th>
                    <th>ดอกเบี้ย</th>
                    <th>รวมชำระ</th>
                    <th>สถานะ</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>12/02/64</td>
                    <td>1</td>
                    <td>10000</td>
                    <td>208</td>
                    <td>1041</td>
                    <td>
                        ชำระแล้ว
                    </td>
                </tr>
                <tr class="table-light">
                    <td>12/03064</td>
                    <td>2</td>
                    <td>8959</td>
                    <td>208</td>
                    <td>1041</td>
                    <td>
                        ชำระแล้ว
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
@*footer*@
<div class="footer">

    <div class="row py-3 col-12 ms-1 ">
        <div class="col-3 text-left">
            <button type="button" class="btn secondary-bg shadow rounded text-center" @onclick="home" style="border-radius: 5px;width:180px">กลับ</button>

        </div>
        <div class="col-4 text-center">

        </div>
        <div class="col-3" style="text-align:end">

        </div>
    </div>

</div>


@code {
    public void home()
    {
        NavigationManager.NavigateTo("/Guarantor");
    }
    public void pdfAgreement()
    {

        NavigationManager.NavigateTo("./User/PdfAgreement");
    }


}
