@page "/HomeUser"
@inject NavigationManager NavigationManager

<div class="container mt-2">
@*ภาพรวมการกู้*@
    <div class="row pt-md-5 justify-content-center">

        <div class="card col-11 col-md-11 pt-2 mt-3  mb-3 primary-bg text-light shadow-sm rounded mx-2" style=" height: 50px;border-radius:10px">
            <a style="font-size: large; font-weight: bold"> ภาพรวมสัญญาการกู้</a>
        </div>
    </div>

    <div class="row justify-content-center pt-md-1 pb-md-1 font-weight-bold">

        <div class="card col-11 col-md-3 pt-3 mt-2 font-color mx-2 " style="background-color: #ffffff; height: 180px; border-color: #2788DE;  border-radius: 10px">
            <div class="row">
                <div >เงินกู้เพื่อการศึกษา</div>
                <div  style="font-size: xx-large">฿12000</div>
                <div  style="text-align: end;font-size: medium">เหลืออีก 12 งวด</div>
                <div  style="text-align: end">ชำระไปแล้ว บาท</div>
            </div>
        </div>

        <div class="card col-11 col-md-3 pt-3 mt-2 mx-2" style="background-color: #ffffff; height: 180px; border-radius: 10px">
            <div class="row">
                <div>เงินกู้เพื่อการศึกษา</div>
                <div style="font-size: xx-large">฿12000</div>
                <div style="text-align: end;font-size: medium">เหลืออีก 12 งวด</div>
                <div style="text-align: end">ชำระไปแล้ว บาท</div>
            </div>

        </div>
        <div class="card col-11 col-md-3  pt-3 mt-2 mx-2" style="background-color: #ffffff; height: 180px; border-radius: 10px">
            <div class="row">
                <div>เงินกู้เพื่อการศึกษา</div>
                <div style="font-size: xx-large">฿12000</div>
                <div style="text-align: end;font-size: medium">เหลืออีก 12 งวด</div>
                <div style="text-align: end">ชำระไปแล้ว บาท</div>
            </div>

        </div>
    </div>

@*การแจ้งเตือน*@
    <div class="row pt-md-5 justify-content-center">

        <div class="card col-11 col-md-11 pt-2 mt-3  mb-3 primary-bg text-light shadow-sm rounded mx-2" style=" height: 50px;border-radius:10px">
            <a style="font-size: large; font-weight: bold"> การแจ้งเตือน</a>
        </div>
    </div>


    <div class="row justify-content-center pt-md-1 pb-md-1 font-weight-bold">


        <div class="card col-11 col-md-11 pt-1 mt-1 justify-content-center mx-2 " style="background-color: #ffffff; height: 150px; height: inherit; border-radius: 10px">

            <div class="row pt-md-2 pb-md-2 pb-2">


                <div class="col-1 col-md-1 pt-2 text-center mt-3"><i class="fas fa-envelope-open-text fa-2x"></i></div>
                <div class="col-md-10 col-11 mt-3 ">
                    <div class="col-md-11 col-10 ">
                        <div class="mt-1" style="font-weight: bold">เงินกู้เพื่อการศึกษา</div>
                        
                        <div  class="mt-1" style="font-size:larger">คำขอกู้ของคุณได้รับการอนุมัติ</div>
                        
                        <div class="row col-12 col-md-12 mt-1">
                            <div class="col-lg-8 col-12  pb-3" style="color:red;font-size:medium">
                                *** กรุณาเลือกวันนัดหมายทำสัญญา ***
                            </div>
                            <div class="col-lg-4  col-12 justify-content-end pb-3" style="text-align:end">
                                <button class="shadow rounded"
                                        style="
                                      color: white;
                                      align-items: flex-end;
                                      width: 200px;
                                      height:40px;
                                      border-radius: 10px;
                                      background-color: #2788DE;
                                      border:none"
                                        @onclick="choosedate">
                                    ดูวันที่นัดหมายทำสัญญา
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-1"></div>
        </div>


        @*<div class="row mx-md-1 mx-3">
                    <div class="col-1">

                    </div>
                    <div class="card col-11 col-md-10 pt-2 mt-3" style="background-color:black">
                        <a style="font-size: large;font-weight: bold;color:aliceblue">เมนูแนะนำ</a>
                    </div>
                </div>
                    <div class="row mx-md-1 mx-3">
                        <div class="col-1">

                        </div>
                        <div class="card col-11 col-md-10 pt-2 mt-3" style="background-color: #ffffff; height: 150px; height:inherit">


                            <div class="row pt-md-3 pb-md-2 pb-2">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-11 ">
                                    <a style="font-weight: bold">xxxxxxxxxxxxxxxx</a>
                                    <br />
                                    <a>xxxxxxxxxxxxxxxxxx</a>
                                    <br />
                                    <a>-----------------------------</a>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-9">
                                            <a>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
                                        </div>
                                        <div class="col-md-3 justify-content-center">
                                            <button style="color: blue;align-items: flex-end;border-color: #E5E5E5;width:200px
        ">
                                                ยื่นคำขอกู้
                                            </button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>*@
    </div>
</div>

@code {

            
         public void choosedate()
    {
        NavigationManager.NavigateTo("./User/ChooseDate");
    }
}



