@page "/HomeUser"

<div class="row pt-md-5">

    <div class="card col-11 col-md-11 pt-2 mt-3  mb-3" style="background-color: #003C71;
        margin-bottom: inherit;margin-left:60px;
        height: 50px;border-radius:10px">
        <a style="font-size: large;font-weight: bold;color:#ffffff"> ภาพรวมสัญญาการกู้</a>
    </div>
</div>
<div class="row justify-content-start pt-md-1 pb-md-1">

    <div class="card col-11 col-md-3 pt-1 mt-3   " style="background-color: #ffffff; height: 150px; border-color: blue; margin-right: 30px; margin-left: 120px; border-radius: 10px">
        <a style="color:blue">เงินกู้เพื่อการศึกษา</a>
        <a style="font-size: xx-large;color:blue">฿12000</a>
        <a style="text-align: end;font-size: medium;color: blue">เหลืออีก 12 งวด</a>
        <a style="text-align: end;color: blue">ชำระไปแล้ว บาท</a>
    </div>

    <div class="card col-11 col-md-3 pt-1 mt-3" style="background-color: #ffffff; height: 150px; border-color: #003C71; margin-right: 30px; border-radius: 10px">
        <a>เงินกู้เพื่อการศึกษา</a>
        <a style="font-size: xx-large">฿12000</a>
        <a style="text-align:end;font-size:medium">เหลืออีก 12 งวด</a>
        <a style="text-align:end">ชำระไปแล้ว บาท</a>

    </div>
    <div class="card col-11 col-md-3  pt-1 mt-3 " style="background-color: #ffffff; height: 150px; border-color: #003C71; border-radius: 10px">
        <a>เงินกู้เพื่อการศึกษา</a>
        <a style="font-size: xx-large">฿12000</a>
        <a style="text-align:end;font-size:medium">เหลืออีก 12 งวด</a>
        <a style="text-align:end">ชำระไปแล้ว บาท</a>

    </div>
</div>
<div class="row pt-4">
    <div class="col-1"></div>
    <div class="card col-11 col-md-11 pt-2 mt-3  mb-3" style="background-color: #003C71; margin-bottom: inherit; margin-left: 60px; height: 50px; border-radius: 10px">
        <a style="font-size: large;font-weight: bold;color:#ffffff">การแจ้งเตือน</a>
    </div>
</div>
<div class="row mx-md-1 mb-5">

    <div class="card col-11 col-md-11 pt-1 mt-3 justify-content-md-start" style="background-color: #ffffff; height: 150px; height: inherit; margin-left: 60px; border-radius: 10px">

        <div class="row pt-md-2 pb-md-2 pb-2">

            <div class="col-md-11 col-11 pl-5 ">
                <a style="font-weight: bold">xxxxxxxxxxxxxxxx</a>
                <br />
                <a>xxxxxxxxxxxxxxxxxx</a>
                <br />
                <a>-----------------------------</a>
                <br />
                <div class="row">
                    <div class="col-md-9  pb-3">
                        <a>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
                    </div>
                    <div class="col-md-3 justify-content-center ">
                        <button class="primary-bg-drop" style="color: blue; align-items: flex-end; border-color: #E5E5E5; width: 200px; border-radius: 10px ">
                            ดูวันที่นัดหมายทำสัญญา
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="col-1"></div>
</div>
@*<div class="row mx-md-1 mx-3">
                <div class="col-1">

                </div>
                <div class="card col-11 col-md-10 pt-2 mt-3" style="background-color:black">
                    <a style="font-size: large;font-weight: bold;color:aliceblue">เมนูแนะนำ</a>
                </div>
            </div>
                <div class="row mx-md-1 mx-3">
                    <div class="col-1">

                    </div>
                    <div class="card col-11 col-md-10 pt-2 mt-3" style="background-color: #ffffff; height: 150px; height:inherit">


                        <div class="row pt-md-3 pb-md-2 pb-2">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-11 ">
                                <a style="font-weight: bold">xxxxxxxxxxxxxxxx</a>
                                <br />
                                <a>xxxxxxxxxxxxxxxxxx</a>
                                <br />
                                <a>-----------------------------</a>
                                <br />
                                <div class="row">
                                    <div class="col-md-9">
                                        <a>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
                                    </div>
                                    <div class="col-md-3 justify-content-center">
                                        <button style="color: blue;align-items: flex-end;border-color: #E5E5E5;width:200px
    ">
                                            ยื่นคำขอกู้
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>*@



@code {


}



