@page "/LoanAgreement"

<boby>
    <div class="container mt-3" id="main">

        <div>
            <div>
                <div class="card col-12 col-md-12 primary-bg pt-2 "
                     style="color:white; border-radius:0px; height:50px; padding-left:15px">
                    <a>สัญญาที่คงอยู่</a>
                </div>
            </div>
            <table class="table table-hover " style="">
                <thead>
                    <tr class="table-light justify-content-center " style="height:40px;text-align:center">
                        <th>สถานะ</th>
                        <th>เลขที่สัญญา</th>
                        <th>ยอดเงินกู้</th>
                        <th>กำหนดการชำระเงิน</th>
                        <th>ยอดเงินกู้คงเหลือ</th>
                        <th>หมายเหตุ</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr style="height:50px;">
                        <td>xxxxxxxx</td>
                        <td>xxx</td>
                        <td>xxxxx</td>
                        <td>xxxx</td>
                        <td>xxxx</td>
                        <td>
                            <button class="primary-bg"
                                    type="button"
                                    @onclick="UploadPayment"
                                    style="border-radius:3px; color: #ffffff;">
                                อัปโหลดเอกสาร
                            </button>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td>xxxxxxxx</td>
                        <td>xxx</td>
                        <td>xxxxx</td>
                        <td>xxxx</td>
                        <td>xxxx</td>
                        <td>
                            <button class="primary-bg"
                                    type="button"
                                    style="border-radius:3px; color: #ffffff;">
                                เลือกวันทำสัญญา
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        @if (LoanCheckbook == true)
        {
            <div>
                <div class="pt-5">
                    <div class="card col-12 col-md-12 primary-bg pt-2 " style="color:white;border-radius:0px;height:50px;padding-left:15px">
                        <a>สัญญาที่สิ้นสุดลงแล้ว</a>
                    </div>
                </div>
                <table class="table table-hover " style="">
                    <thead>
                        <tr class="table-light justify-content-center " style="height:40px;text-align:center">
                            <th>สถานะ</th>
                            <th>เลขที่สัญญา</th>
                            <th>ยอดเงินกู้</th>
                            <th>กำหนดการชำระเงิน</th>
                            <th>ยอดเงินกู้คงเหลือ</th>
                            <th>หมายเหตุ</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr style="height:50px;">
                            <td>xxxxxxxx</td>
                            <td>xxx</td>
                            <td>xxxxx</td>
                            <td>xxxx</td>
                            <td>xxxx</td>
                            <td>
                                xxxxxxx
                            </td>
                        </tr>
                        <tr class="table-light">
                            <td>xxxxxxxx</td>
                            <td>xxx</td>
                            <td>xxxxx</td>
                            <td>xxxx</td>
                            <td>xxxx</td>
                            <td>
                                xxxxxxx
                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>
        }
    </div>
    <div class="footer">
        <div class="my-3 ms-3">
            <label class="switch">
                <input type="checkbox" id="checkbox" @onclick="CheckboxSwitch">
                <span class="slider round"></span>
            </label>
            @Message
        </div>

    </div>
</boby>
@code {
    string Message = "แสดงเฉพาะที่ยังไม่สิ้นสุดสัญญา";
    Boolean LoanCheckbook = false;

    public void UploadPayment()
    {
        NavigationManager.NavigateTo("/AgreementDetail");
    }

    public async Task CheckboxSwitch()
    {
        var interopResult = await JS.InvokeAsync<Boolean>("checkboxSwitch");

        if (interopResult == true)
        {
            Message = "แสดงสัญญาทั้งหมด";
        }
        else
        {
            Message = "แสดงเฉพาะที่ยังไม่สิ้นสุดสัญญา";
        }
        LoanCheckbook = interopResult;
    }

}
