@page "/Login"

<div class="container my-3">
    <div class="row">
        mkkm;pokmop;kopjiohnjkpjkpjhpj
        <div class="mt-4 col-6">
            <button type="button" class="btn primary-bg" @onclick="adminAsync">Sign in Admin</button>
        </div>
        <div class="mt-4 col-6">
            <button type="button" class="btn primary-bg" @onclick="user">Sign in User</button>
        </div>
    </div>
</div>

