@page "/"
@inject NavigationManager NavigationManager

    <div class="row">
        <div class="mt-4 col-6">
            <button type="button"  class="btn primary-bg">Sign in Admin</button>
        </div>
        <div class="mt-4 col-6">
            <button type="button"  class="btn primary-bg">Sign in User</button>
        </div>
    </div>

    @code {

    }
