@page "/"

<div class="container mt-3 mb-5">
    <div class="card bg-light font-color mt-4 p-3 shadow rounded col-12 col-md-12 col-lg-12" style="font-size:x-large;font-weight:bold;border-radius:15px">
        <div class=" row">
            <div class="col-6 col-md-6 col-lg-6">ข่าวประกาศ</div>
            <div class="col-6 col-md-6 co-lg-6" style="text-align:end"><i class="fas fa-bell fa-lg mx-2"></i></div>
        </div>
    </div>

    @*card news*@
    <div class="card text-dark bg-white mb-3 mt-3 shadow rounded col-12 col-md-12 col-lg-12" style="border-radius: 10px">
        <div class="card-header bg-white">
            <div class=" row">
                <div class="col-md-9 col-12 font-weight-bold" style="font-size:x-large">  <i class="far fa-newspaper fa-lg mx-2"></i>หัวข้อข่าว</div>
                <div class="col-12 col-md-3 justify-content-end py-2 " style="color:gray ;font-size:small">อัปเดตเมื่อวันที่ 1 กันยายน 2564</div>

            </div>
        </div>
        <div class="card-body col-12">



            <p class="card-text mt-2">เนื้อความของข่าวนี้อาจมีความยาวน้อยหรือมากขึ้นอยู่กับผู้เขียนข่าว โดยจะแสดงผลตัวอย่างที่มีความยาวประมาณ 2 บรรทัด  และจะให้ไปอ่านเนื้อหาเต็มได้ที่เว็บข่าว</p>
        </div>
        <div class="card-footer bg-white mb-3 col-12" style="border:none">
            <div class="row">
                <div class="col-md-5  "></div>
                <div class="col-md-5 "></div>
                <div class="col-md-2 col-12 text-center"><button class="button-color text-light shadow rounded " style="border: none; border-radius: 10px; width: 120px; height: 40px">read more</button></div>

            </div>
        </div>
    </div>

    <div class="card text-dark bg-white mb-3 mt-3 shadow rounded col-12 col-md-12 col-lg-12" style="border-radius: 10px">
        <div class="card-header bg-white">
            <div class=" row">
                <div class="col-md-9 col-12 font-weight-bold" style="font-size:x-large">  <i class="far fa-newspaper fa-lg mx-2"></i>หัวข้อข่าว</div>
                <div class="col-12 col-md-3 justify-content-end py-2 " style="color:gray ;font-size:small">อัปเดตเมื่อวันที่ 1 กันยายน 2564</div>

            </div>
        </div>
        <div class="card-body col-12">



            <p class="card-text mt-2">เนื้อความของข่าวนี้อาจมีความยาวน้อยหรือมากขึ้นอยู่กับผู้เขียนข่าว โดยจะแสดงผลตัวอย่างที่มีความยาวประมาณ 2 บรรทัด  และจะให้ไปอ่านเนื้อหาเต็มได้ที่เว็บข่าว</p>
        </div>
        <div class="card-footer bg-white mb-3 col-12" style="border:none">
            <div class="row">
                <div class="col-md-5  "></div>
                <div class="col-md-5 "></div>
                <div class="col-md-2 col-12 text-center"><button class="button-color text-light shadow rounded " style="border: none; border-radius: 10px; width: 120px; height: 40px">read more</button></div>

            </div>
        </div>
    </div>

    <div class="card text-dark bg-white mb-3 mt-3 shadow rounded col-12 col-md-12 col-lg-12" style="border-radius: 10px">
        <div class="card-header bg-white">
            <div class=" row">
                <div class="col-md-9 col-12 font-weight-bold" style="font-size:x-large">  <i class="far fa-newspaper fa-lg mx-2"></i>หัวข้อข่าว</div>
                <div class="col-12 col-md-3 justify-content-end py-2 " style="color:gray ;font-size:small">อัปเดตเมื่อวันที่ 1 กันยายน 2564</div>

            </div>
        </div>
        <div class="card-body col-12">



            <p class="card-text mt-2">เนื้อความของข่าวนี้อาจมีความยาวน้อยหรือมากขึ้นอยู่กับผู้เขียนข่าว โดยจะแสดงผลตัวอย่างที่มีความยาวประมาณ 2 บรรทัด  และจะให้ไปอ่านเนื้อหาเต็มได้ที่เว็บข่าว</p>
        </div>
        <div class="card-footer bg-white mb-3 col-12" style="border:none">
            <div class="row">
                <div class="col-md-5 "></div>
                <div class="col-md-5 "></div>
                <div class="col-md-2 col-12 text-center"><button class="button-color text-light shadow rounded " style="border: none; border-radius: 10px; width: 120px; height: 40px">read more</button></div>

            </div>
        </div>
    </div>
    <div class="card primary-bg text-light text-center mt-4 p-2 mb-5 shadow rounded col-12 col-md-12 col-lg-12" style="font-size:large;font-weight:bold;border-radius: 10px">

        อ่านข่าวสารเพิ่มเติมที่ พีเอสยู นิวส์
    </div>

</div>

@code {

}
