@page "/"

<div class="container mt-3 mb-5">
    <div class="card bg-light font-color mt-4 p-3" style="font-size:x-large;font-weight:bold">
        ข่าวประกาศ
    </div>

    @*card news*@
    <div class="card text-dark bg-white mb-3 mt-3 shadow rounded">
        <div class="card-header bg-white">
            <div class=" row">
                <div class="col-2 font-weight-bold" style="font-size:x-large">หัวข้อข่าว</div>
                <div class="col justify-content-start py-2" style="color:gray ;font-size:small">อัปเดตเมื่อวันที่ 1 กันยายน 2564</div>

            </div>
        </div>
        <div class="card-body">

            <p class="card-text">เนื้อความของข่าวนี้อาจมีความยาวน้อยหรือมากขึ้นอยู่กับผู้เขียนข่าว โดยจะแสดงผลตัวอย่างที่มีความยาวประมาณ 2 บรรทัด  และจะให้ไปอ่านเนื้อหาเต็มได้ที่เว็บข่าว</p>
        </div>
        <div class="card-footer bg-white">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-5"></div>
                <div class="col-2 text-center"><button class="button-color text-light shadow rounded " style="border:none;border-radius:10px">read more</button></div>

            </div>
        </div>
    </div>

    <div class="card text-dark bg-white mb-3 mt-3 shadow rounded">
        <div class="card-header bg-white">
            <div class=" row">
                <div class="col-2 font-weight-bold" style="font-size:x-large">หัวข้อข่าว</div>
                <div class="col justify-content-start py-2" style="color:gray ;font-size:small">อัปเดตเมื่อวันที่ 1 กันยายน 2564</div>

            </div>
        </div>
        <div class="card-body">

            <p class="card-text">เนื้อความของข่าวนี้อาจมีความยาวน้อยหรือมากขึ้นอยู่กับผู้เขียนข่าว โดยจะแสดงผลตัวอย่างที่มีความยาวประมาณ 2 บรรทัด  และจะให้ไปอ่านเนื้อหาเต็มได้ที่เว็บข่าว</p>
        </div>
        <div class="card-footer bg-white">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-5"></div>
                <div class="col-2 text-center"><button class="button-color text-light shadow rounded " style="border:none;border-radius:10px">read more</button></div>

            </div>
        </div>
    </div>


    <div class="card text-dark bg-white mb-3 mt-3 shadow rounded">
        <div class="card-header bg-white">
            <div class=" row">
                <div class="col-2 font-weight-bold" style="font-size:x-large">หัวข้อข่าว</div>
                <div class="col justify-content-start py-2" style="color:gray ;font-size:small">อัปเดตเมื่อวันที่ 1 กันยายน 2564</div>

            </div>
        </div>
        <div class="card-body">

            <p class="card-text">เนื้อความของข่าวนี้อาจมีความยาวน้อยหรือมากขึ้นอยู่กับผู้เขียนข่าว โดยจะแสดงผลตัวอย่างที่มีความยาวประมาณ 2 บรรทัด  และจะให้ไปอ่านเนื้อหาเต็มได้ที่เว็บข่าว</p>
        </div>
        <div class="card-footer bg-white">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-5"></div>
                <div class="col-2 text-center"><button class="button-color text-light shadow rounded " style="border:none;border-radius:10px">read more</button></div>

            </div>
        </div>
    </div>
    <div class="card primary-bg text-light text-center mt-4 p-2 shadow rounded" style="font-size:large;font-weight:bold">
        อ่านข่าวสารเพิ่มเติมที่ พีเอสยู นิวส์
    </div>

</div>

@code {

}
