
@page "/RequestLoan"
@inject NavigationManager NavigationManager
    <div class="container my-3">
        <div class="card primary-bg shadow rounded mt-5 py-2" style="border-radius:10px;height:60px">
            <a style="font-size:x-large;color:white;padding-left:15px">คำขออื่นๆ</a>

        </div>

        <div class="card bg-light pa-3 mt-4 mx-2 shadow rounded col-md-12 col-12" style="height:300px;border-radius:10px">
            <div class="row pt-3  ">

                <div class="card col-md-10 col-9 primary-bg-drop pt-3 mt-3 shadow rounded ms-3" @onclick="ChangeGuarantor" style="height:60px;border-radius:10px;">
                    <div class="col-md-8 col-12 " style="font-size:larger" >
                        คำขอเปลี่ยนผู้ค้ำ

                    </div>


                </div>
                <div class="col-md-1 col-1 card primary-bg mt-3 shadow rounded mx-2" @onclick="ChangeGuarantor" style="height:60px;width:60px">

                </div>


            </div>
            <div class="row pt-3 ">

                <div class="card col-md-10 col-9  primary-bg-drop pt-3 mt-3 shadow rounded ms-3" @onclick="CompoundLoan" style="height:60px;border-radius:10px" >
                    <div class="col-md-8 col-12" style="font-size:larger">
                        คำขอกู้ประเภทกู้ทบยอด

                    </div>


                </div>
                <div class="col-md-1 col-1 card primary-bg mt-3 shadow rounded mx-2" @onclick="CompoundLoan" style="height:60px;width:60px">

                </div>


            </div>
            <div class="row pt-3">

                <div class="card col-md-10 col-9  primary-bg-drop pt-3 mt-2 shadow rounded ms-3" @onclick="AnotherRequest" style="height:60px;border-radius:10px">
                    <div class="col-md-8 col-12" style="font-size:larger">
                        คำขออื่นๆ
                    </div>


                </div>
                <div class="col-1 col-md-1 card primary-bg mt-2 shadow rounded mx-2" @onclick="AnotherRequest" style="height:60px;width:60px">

                </div>


            </div>
        </div>
    </div>
    @code {
        public void ChangeGuarantor()
        {
            NavigationManager.NavigateTo("/ChangeGuarantor");
        }
        public void AnotherRequest()
        {
            NavigationManager.NavigateTo("./User/AnotherRequest");
        }
        public void CompoundLoan()
        {
            NavigationManager.NavigateTo("./User/CompoundLoan");
        }

    }
