@page "/test"
@using BlazorApp.ModelsDB
@inject ModelContext _context

<h3>Test</h3>

<div class="container">
    @if(listLoan.Count != 0)
    {
        foreach(var itam in listLoan)
        {
            @itam.Active; 
            <br />
            @itam.LoanParentName;
            <hr />
        }
    }

</div>

@code {
    List<LoanType> listLoan;
    public LoanType Model { get; set; }

    protected override void OnInitialized()
    {
        listLoan = new List<LoanType>();
        listLoan = _context.LoanTypes.ToList<LoanType>();
    }

}
