@page "/uploaddoc"
@using BlazorApp.Models

@*@inject Blazored.SessionStorage.ISessionStorageService sessionStorage*@
@*@inject IJSRuntime JS*@

<body>
    <div id="main">
        <div class="container mt-3">
            @if (resultInfoList != null)
            {
                if (resultInfoList.Count == 0)
                {
                    <div>ยังไม่มีเอกสาร</div>
                }
                else
                {
                    <div>ชื่อเอกสาร</div>
                    @for (var i = 0; i < resultInfoList.Count; i++)
                    {
                        var item = resultInfoList[i];
                        <div class="row justify-content-between my-2">
                            <div class="col-4">@item.Name</div>
                            <div class="col-4 text-end">
                                <button type="button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#Confirm"
                                        class="btn error-color"
                                        @onclick="@(e => ConfirmFrom(item))">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>

    @*footer*@
    <div class="footer">
        <div class="row">
            <div class="d-grid gap-2 col-md-4 col-sm-12 mx-auto mt-2">
                <button type="button"
                        class="btn secondary-bg px-4"
                        data-bs-toggle="modal"
                        data-bs-target="#backPage">
                    กลับ
                </button>
            </div>
            <div class="d-grid gap-2 col-md-4 col-sm-12 mx-auto mt-2">
                <button type="button"
                        class="btn secondary-bg px-4"
                        data-bs-toggle="modal"
                        data-bs-target="#upload">
                    เพิ่มเอกสาร
                </button>
            </div>
            <div class="d-grid gap-2 col-md-4 col-sm-12 mx-auto mt-2">
                <button type="button" class="btn secondary-bg px-4" @onclick="NextPage">ถัดไป</button>
            </div>
        </div>
    </div>

    @* model Upload *@
    <div class="modal fade"
         id="upload"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <FileInput SetChildData="SetCurrentData" />
        </div>
    </div>

    @* model Back page *@
    <div class="modal fade" id="backPage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    เมื่อกดกลับ ระบบจะไม่ทำการบันทึกข้อมูลหน้านี้ คุณต้องการกลับหรือไหม
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="BackPage">กลับ</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirm -->
    @if (SelectListUpload != null)
    {
        <div class="modal fade"
             id="Confirm"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        ยื่นยันการลบเอกสารชื่อ @SelectListUpload.Name หรือไหม
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">
                            ปิด
                        </button>
                        <button type="button"
                                class="btn error-color"
                                data-bs-dismiss="modal"
                                @onclick="@(e => DeleteFile())">
                            ตกลง
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>

@code {

    //protected override void OnInitialized()
    @*    protected async override Task OnInitializedAsync()
        {
            ModelApplyLoan = new ApplyLoanModel();
            ModelApplyLoan = await sessionStorage.GetItemAsync<ApplyLoanModel>("FromLoan_1");
            Console.WriteLine(ModelApplyLoan);
        }*@

    //public testModelData_1 model { get; set; }
    //  [Parameter]
    //  public testModelData_1 test2 { get; set; }

    //  protected override void OnParametersSet()
    //  {
    //      model = test2;
    //  }

    //  public class testModelData_1
    //  {
    //      public int LoanTypeID { get; set; }
    //      public string Guarantor { get; set; }
    //  }

    //public async Task Upload()
    //{
    //    await JS.InvokeVoidAsync("UploadFile", test);
    //}
}
