@page "/uploaddoc"


    <div class="container mt-3">
        <div class="card m-3 p-3 ">
            <FromUpload listModel="@resultInfoList" />
        </div>
    </div>

    @*footer*@
    <div class="footer">
        <div class="my-3 row justify-content-center">
            <div class="col-md-2 col-sm-12 mt-2 mx-3 row justify-content-center setMargin">
                <button type="button"
                        class="btn secondary-bg"
                        data-bs-toggle="modal"
                        data-bs-target="#backPage">
                    กลับ
                </button>
            </div>
            <div class="col-md-2 col-sm-12 mt-2 mx-3 row justify-content-center setMargin">
                <button type="button"
                        class="btn secondary-bg"
                        data-bs-toggle="modal"
                        data-bs-target="#upload"
                        @onclick="EmptyFile">
                    เพิ่มเอกสาร
                </button>
            </div>
            <div class="col-md-2 col-sm-12 mt-2 mx-3 row justify-content-center setMargin">
                <button type="button" class="btn secondary-bg" @onclick="NextPage">ถัดไป</button>
            </div>
        </div>
    </div>

    @* model Upload *@
    <div class="modal fade"
         id="upload"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <FileInput SetChildData="SetCurrentData" />
        </div>
    </div>

    @* model Back page *@
    <div class="modal fade" id="backPage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    เมื่อกดกลับ ระบบจะไม่ทำการบันทึกข้อมูลหน้านี้ คุณต้องการกลับหรือไหม
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="BackPage">กลับ</button>
                </div>
            </div>
        </div>
    </div>



@code {
    public async Task EmptyFile()
    {
        await JS.InvokeVoidAsync("emptyFile");
    }


    //protected override void OnInitialized()
    @*    protected async override Task OnInitializedAsync()
        {
            ModelApplyLoan = new ApplyLoanModel();
            ModelApplyLoan = await sessionStorage.GetItemAsync<ApplyLoanModel>("FromLoan_1");
            Console.WriteLine(ModelApplyLoan);
        }*@

    //public testModelData_1 model { get; set; }
    //  [Parameter]
    //  public testModelData_1 test2 { get; set; }

    //  protected override void OnParametersSet()
    //  {
    //      model = test2;
    //  }

    //  public class testModelData_1
    //  {
    //      public int LoanTypeID { get; set; }
    //      public string Guarantor { get; set; }
    //  }

    //public async Task Upload()
    //{
    //    await JS.InvokeVoidAsync("UploadFile", test);
    //}
}
