@page "/UserResume"
    <div class="container mt-2">
        <div class="row pt-5 justify-content-center mx-2">
            <div class="card col-11 col-md-11 pt-2 mt-3 mb-3  pb-4 primary-bg text-light shadow-sm rounded font-weight-bold" style="  height: 50px ;border-radius: 10px">
                <a style="font-size: large;">ข้อมูลส่วนตัวในระบบ</a>
            </div>
        </div>
        <div class="row  mb-5  justify-content-center mx-2">

            <div class="card col-11 col-md-11 pt-1  justify-content-center" style="background-color: #ffffff; height: 150px; height: inherit;  border-radius: 10px">

                <div class="col-md-11 col-11 pl-2 pt-4 pb-4 ms-4">
                    <a style="font-weight: bold">ชื่อ</a>
                    <br />
                    <div class="row">
                        <div class="col-10 col-md-5">
                            <a style="font-weight: bold">สถานะภาพ</a>
                        </div>
                        <div class="col-10 col-md-5">
                            <a style="font-weight: bold">สถานภาพการมีบุตร</a>
                        </div>
                    </div>
                    <a style="font-weight: bold">ตำแหน่ง</a>
                    <br />
                    <div class="row">
                        <div class="col-10 col-md-5">
                            <a style="font-weight: bold">หน่วยงานต้นสังกัด</a>
                        </div>
                        <div class="col-10 col-md-5">
                            <a style="font-weight: bold">เบอร์ที่ทำงาน</a>
                        </div>
                    </div>

                    <a style="font-weight: bold">วันที่เริ่มทำงาน</a>
                    <br />
                    <div class="row">
                        <div class="col-10 col-md-5">
                            <a style="font-weight: bold">เงินเดือน       บาท</a>
                        </div>
                        <div class="col-10 col-md-5">
                            <a style="font-weight: bold">เลขที่บัญชี</a>
                        </div>
                    </div>

                    <br />
                    <a style="color:red;font-size:smaller">*** หากข้อมูลส่วนตัวไม่ถูกต้องกรุณาในระบบสารสนเทศบุคลากร ก่อนดำเนินการใดๆในระบบนี้</a>
                </div>
            </div>

        </div>
        <div class="row pt-2  justify-content-center mx-2">
            <div class="card col-11 col-md-11 pt-2 mt-3 mb-3  pb-4 primary-bg text-light shadow-sm rounded font-weight-bold" style="  height: 50px; border-radius: 10px">
                <a style="font-size: large;">เงินเดือนคงเหลือสุทธิ (บาท)</a>
            </div>
        </div>
        <div class="row  mb-1  justify-content-center mx-2">

            <div class="card col-11 col-lg-7 col-xl-9 pt-2  mt-2 " style="background-color: #ffffff; height: 50px; border-radius: 10px">
                <div class="ms-3">
                    <a style="font-weight: bold;font-size:x-large">10000</a>
                </div>
            </div>
            <div class="col-xl-2 col-12 mt-2 col-lg-4 " style="text-align:center">
                <button class="shadow p-3 rounded" style="background-color: #2788DE; color: #ffffff; width: 170px; height: 50px;border:none;border-radius:10px ">
                    บันทึก
                </button>

            </div>

        </div>
        <div class="col-12 col-lg-9 mt-2">
            <a style="color:gray;font-size:small">* โปรดตรวจสอบให้แน่ใจว่าข้อมูลนี้ถูกต้องแล้วจึงกดบันทึก</a>
        </div>
    </div>

    @code {

    }
