@page "/UserResume"

<div class="card mx-5 section-title" style="">
    <div class="section-title-text">ข้อมูลส่วนตัวในระบบ</div>
</div>
<div class="card mx-5 mt-3" style="border-color: #ffffff; background-color: #FFFFFF; height: 150px; height: inherit; margin-left: 60px; border-radius: 10px">

    <div style="padding: 16px;">
            <a style="font-weight: bold">ชื่อ</a>
            <br />
            <div class="row">
                <div class="col-10 col-md-5">
                    <a style="font-weight: bold">สถานะภาพ</a>
                </div>
                <div class="col-10 col-md-5">
                    <a style="font-weight: bold">สถานภาพการมีบุตร</a>
                </div>
            </div>
            <a style="font-weight: bold">ตำแหน่ง</a>
            <br />
            <div class="row">
                <div class="col-10 col-md-5">
                    <a style="font-weight: bold">หน่วยงานต้นสังกัด</a>
                </div>
                <div class="col-10 col-md-5">
                    <a style="font-weight: bold">เบอร์ที่ทำงาน</a>
                </div>
            </div>

            <a style="font-weight: bold">วันที่เริ่มทำงาน</a>
            <br />
            <div class="row">
                <div class="col-10 col-md-5">
                    <a style="font-weight: bold">เงินเดือน       บาท</a>
                </div>
                <div class="col-10 col-md-5">
                    <a style="font-weight: bold">เลขที่บัญชี</a>
                </div>
            </div>

            <br />
            <a style="color:gray;font-size:smaller">หากข้อมูลส่วนตัวไม่ถูกต้องกรุณาในระบบสารสนเทศบุคลากร ก่อนดำเนินการใดๆในระบบนี้</a>
        </div>

</div>
<div class="card mx-5 section-title" style="">
    <div class="section-title-text">เงินเดือนคงเหลือสุทธิ (บาท)</div>
</div>
<div class="row  mb-1 justify-content-md-start">

    <div class="card col-11 col-md-9 pt-2  mt-2 " style="background-color: #ffffff; height: 50px; margin-left: 70px; border-radius: 10px">
        <div>
            <a style="font-weight: bold;font-size:x-large">10000</a>
        </div>
    </div>
    <div class="col-md-2 col-11 mt-2 justify-content-start" style="margin-left:25px;">
        <button style="background-color:dodgerblue;border-radius:10px;
        color: #ffffff;

        width: 170px;height:50px;
    ">
            บันทึก
        </button>

    </div>

</div>
<div class="col-9 col-md-9 ">
    <a style="color:gray;font-size:smaller;margin-left:70px">*โปรดตรวจสอบให้แน่ใจว่าข้อมูลนี้ถูกต้องแล้วจึงกดบันทึก</a>
</div>

@code {

}
