<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="http://www.thaiall.com/java/bootstrap-stack.png" width="40" height="40" alt="" />
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto h5">
            ระบบสวัสดิการเงินกู้ <br />
            มหาวิทยาลัยสงขลานครินทร์
        </div>
        <div class="my-2 my-lg-0">
            <button type="button" class="btn Secondary-bg Primary">
                เข้าสู่ระบบ
            </button>
        </div>
    </div>
</nav>

@code {

}
