<div class="top-row pl-2 navbar navbar-light">
    <a class="navbar-brand font-weight-bold " style="padding-left:7px" href="">ระบบสวัสดิการเงินกู้ <br> มหาวิทยาลัยสงขลานครินทร์</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" aria-hidden="true">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/AdminHome">
                <span class="oi oi-media-stop" aria-hidden="true"></span> ภาพรวม
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/ManageTypeLoan">
                <span class="oi oi-media-stop" aria-hidden="true"></span> จัดการประเภทการกู้
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/CheckUserdata">
                <span class="oi oi-media-stop" aria-hidden="true"></span> ตรวจสอบข้อมูล
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/ManageLoanRequest">
                <span class="oi oi-media-stop" aria-hidden="true"></span> จัดการคำขอ
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/ManageLoanAgreement">
                <span class="oi oi-media-stop" aria-hidden="true"></span> จัดการสัญญา
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/ManageAppointment">
                <span class="oi oi-media-stop" aria-hidden="true"></span> ตารางนัดหมาย
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/Accessright">
                <span class="oi oi-media-stop" aria-hidden="true"></span> สิทธิ์การเข้าถึง
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/CheckLoanAdmin">
                <span class="oi oi-media-stop" aria-hidden="true"></span> ตรวจสอบสิทธิ์การกู้
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
