<div class="top-row pl-2 navbar navbar-light">
    <a class="navbar-brand font-weight-bold " style="padding-left:7px" href="">ระบบสวัสดิการเงินกู้ <br> มหาวิทยาลัยสงขลานครินทร์</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" aria-hidden="true">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/AdminHome">
                <i class="fad fa-chart-line fa-lg mx-2"></i> ภาพรวม
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/ManageTypeLoan">
                <i class="fab fa-accusoft fa-lg mx-2"></i> จัดการประเภทการกู้
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/CheckUserdata">
                <i class="fad fa-chalkboard-teacher fa-lg mx-2 "></i> ตรวจสอบข้อมูล
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/ManageLoanRequest">
                <i class="fas fa-inbox fa-lg mx-2"></i> จัดการคำขอ
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/ManageLoanAgreement">
                <i class="fas fa-file-signature fa-lg mx-2"></i> จัดการสัญญา
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/ManageAppointment">
                <i class="fas fa-calendar-alt fa-lg mx-2"></i> ตารางนัดหมาย
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/Accessright">
                <i class="fas fa-user-check fa-lg mx-2"></i> สิทธิ์การเข้าถึง
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./Admin/CheckLoanpage">
                <i class="fas fa-clipboard-check fa-lg mx-2"></i> ตรวจสอบสิทธิ์การกู้
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SignOut">
                <i class="fas fa-sign-out-alt fa-lg mx-2"></i> ออกจากระบบ
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
