<div class="top-row pl-2 navbar navbar-light">
    <a class="navbar-brand appbar-title " href="">ระบบสวัสดิการเงินกู้</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" aria-hidden="true">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-icons">space_dashboard</span>ภาพรวม
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="UserResume">
                <span class="material-icons">account_circle</span>ข้อมูลส่วนตัว
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LoanAgreement">
                <span class="material-icons">feed</span>สัญญาเงินกู้
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Guarantor">
                <span class="material-icons">people</span>การค้ำประกัน
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./User/CheckLoan">
                <span class="material-icons">fact_check</span>ตรวจสอบสิทธิ์การกู้
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ApplyLoan">
                <span class="material-icons">note_add</span>ยื่นกู้
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RequestLoan">
                <span class="material-icons">add_box</span>ยื่นคำขอ
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="material-icons">logout</span>ออกจากระบบ
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
