<div class="top-row pl-2 navbar navbar-light">
    <a class="navbar-brand font-weight-bold " style="padding-left:7px" href="">ระบบสวัสดิการเงินกู้ <br> มหาวิทยาลัยสงขลานครินทร์</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" aria-hidden="true">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/HomeUser">
                <i class="fad fa-chart-line fa-lg mx-2"></i>
                ภาพรวม
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="UserResume">
                <i class="far fa-address-card fa-lg mx-2"></i> ข้อมูลส่วนตัว
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LoanAgreement">
                <i class="fas fa-file-contract fa-lg mx-2"></i> สัญญาเงินกู้
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Guarantor">
                <i class="fas fa-user-friends fa-lg mx-2"></i> การค้ำประกัน
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="./User/CheckLoan">
                <i class="fas fa-clipboard-check fa-lg mx-2"></i> ตรวจสอบสิทธ์การกู้
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Applyloan">
                <i class="fas fa-file-import fa-lg mx-2"></i> ยื่นกู้
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RequestLoan">
                <i class="fas fa-window-restorefa-lg mx-2"></i> ยื่นคำขอ
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SignOut">
                <i class="fas fa-sign-out-alt fa-lg mx-2"></i> ออกจากระบบ
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
